/* ========== GENERAL STYLING ========== */

:root {
  --light-green: #e2efe5;
  --light-pink: #bf9f93;
  --medium-green: #abc9b1;
  --dark-grey: #313131;
  --medium-grey: #414141;
  --title-font: 'Rokkit', serif;
  --main-font: 'Montserrat', sans-serif;
}

body {
  color: var(--medium-grey);
  font-family: var(--main-font);
  margin: 0 auto;
}

h1 {
  display: none;
}

button:focus {
  outline: 0;
}

/*** SECTION STYLING ***/
h3 {
  color: var(--dark-grey);
  font-family: var(--title-font);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 50px;
}

section {
  padding: 60px 0;
}

/*** SECTION IMAGES ***/
.section-img {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 7px;
  height: 100%;
  object-fit: cover;
  padding: 0.25rem;
  width: 100%;
}


/*** NAMASTE BUTTON ***/
.namaste-btn-container {
  text-align: center;
}

.namaste-btn {
  background-color: var(--light-pink);
  border: solid 1px var(--light-pink);
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  font-family: var(--main-font);
  margin-top: 50px;
  margin-bottom: 0.25rem;
  padding: 10px 30px;
}

.namaste-btn:hover {
  background-color: var(--medium-green);
  border-color: var(--medium-green);
  color: #fff;
  text-decoration: none;
}


/* ========== NAVBAR SECTION ========== */

.header-logo {
  width: 100px;
}

.navbar {
  background-color: var(--light-green);
  font-family: var(--main-font);
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(191, 159, 147, 0.8);
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: var(--light-pink);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--light-pink);
  font-weight: 700;
}


/* ========== HEADER SECTION ========== */

.parallax {
  background-attachment: fixed;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 80px 10%;
}

header h2 {
  color: rgba(65,65,65,0.5);
  font-family: var(--main-font);
  font-size: 1.2rem;
  font-style: italic;
  margin-left: 45%;
  margin-top: 10%;
  text-align: center;
}

.social-list {
  list-style: none;
  margin: 0;
  margin-left: 45%;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.social-list li {
  display: inline;
  font-size: 1.7rem;
  padding-bottom: 15px;
  padding: 10px;
}

.social-list a {
  color: rgba(65,65,65,0.5);
}

.social-list a:hover {
  color: var(--medium-grey);
  text-decoration: none;
}


/* ========== PRICES SECTION ========== */

#prices {
  background-color: var(--light-green);
}

#prices h3 {
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
}

.card {
  border: none;
  border-radius: 7px;
}

.prices-img {
  border: solid 4px #fff;
  border-radius: 7px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-body {
  text-align: center;
}

.card-text-price {
  font-weight: 600;
}

.card-text-description {
  margin-top: 30px;
}


/* ========== ABOUT SECTION ========== */

#about p a {
  color: var(--light-pink);
}

#about p a:hover {
  color: var(--medium-green);
}

#about p a:visited {
  color: var(--light-pink);
}


/* ========== CONTACT SECTION ========== */

#namaste {
  background-color: rgba(191, 159, 147, 1);
}

.contact-card {
  background-color: #fff;
  /* border: 1px solid #fff; */
  border-radius: 0.25rem;
  margin: auto;
  padding: 50px;
}

#namaste h3 {
  text-align: center;
}

#namaste form {
  margin: auto;
  width: 100%;
}

.form-control {
  border: none;
  border-bottom: solid 2px var(--light-pink);
  border-radius: 0;
  margin-bottom: 20px;
}

.contact-btn {
  background-color: var(--light-pink);
  border: solid 1px var(--light-pink);
  color: #fff;
  font-family: var(--main-font);
}

.contact-btn:hover {
  background-color: var(--medium-green);
  border-color: var(--medium-green);
  color: #fff;
}


/* ========== FOOTER SECTION ========== */

footer {
  background-color: var(--light-green);
  text-align: center;
}

.footer-logo {
  margin: 10px 0 30px;
}

.insta-list {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 70%;
}

.insta-list li {
  margin-bottom: 30px;
}

.insta-list img {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 7px;
  padding: 0.25rem;
  width: 100%;
}

.insta-list img:hover {
  -webkit-filter: opacity(50%); /* Safari 6.0 - 9.0 */
  filter: opacity(50%);
}

footer p {
  color: var(--light-pink);
  font-family: var(--main-font);
  font-size: 0.9rem;
  margin: 0;
  padding-bottom: 10px;
}

footer a {
  color: var(--light-pink);
  text-decoration: none;
}

footer a:hover {
  color: var(--dark-grey);
  text-decoration: none;
}


/* ========== RESPONSIVE DESIGN ========== */

@media only screen and (max-width: 992px) {

  /* GENERAL STYLING */
  section {
    padding: 100px 0;
  }

  h3 {
    font-size: 4rem;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .namaste-btn {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .namaste-btn:hover {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
  }


  /* NAVBAR SECTION */
  .header-logo {
    width: 200%;
  }

  .navbar {
    font-size: 2.5rem;
  }


  /* HEADER SECTION */
  .parallax {
    background-attachment: scroll;
    height: 1200px;
  }

  header h2 {
    font-size: 2rem;
    margin: 3% auto 0;
  }

  .social-list {
    margin: 50px auto;
  }

  .social-list li {
    font-size: 3rem;
    padding: 20px;
  }

  .social-list a:hover {
    color: rgba(65,65,65,0.5);
  }


  /* INTRO SECTION + ABOUT SECTION */
  #intro h3, #about h3 {
    text-align: center;
  }


  /* CONTACT SECTION */
  .contact-btn {
    font-size: 2rem;
  }

  .contact-btn:hover {
    background-color: var(--light-pink);
    border-color: var(--light-pink);
  }


  /* FOOTER SECTION */
  .footer-logo {
    width: 18%;
  }

  .insta-list {
    width: 90%;
  }

  .insta-list img:hover {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
  }

  footer p {
    font-size: 1.3rem;
  }

  footer a{
    color: var(--light-pink);
    text-decoration: none;
  }

  footer a:hover {
    color: var(--light-pink);
  }

}
